main
{
  text-align: center;
}

p
{
  line-height: 5px;
}

.title
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin: 0px;
}

.title1
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
}

.title2
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.title3
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.container
{
  width: 48%;
  display: inline-block;
}

.container img
{
  display: inline;
  width: 100%;
}

svg
{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: inline;
}

#apple:hover, #fence:hover, #pot:hover, #soil:hover, #farm:hover, #mower:hover, #flower:hover, #can:hover, #sun:hover, #honey:hover
{
  filter: opacity(50%);
}
